.hidden
{
		display: none;
}

.clearfix:after
{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

body {
	background-color: #212121;
	overflow: hidden;
}

.trekScreen {
	width: 100%;
}

#topScroll {
	position: fixed;
	top: 15px;
	left: 25px;
	color: #fff;
	display: none;
}

#upScroll {
	position: fixed;
	top: 40px;
	left: 25px;
	color: #fff;
	display: none;
}

#toggleScroll {
	position: fixed;
	top: 15px;
	right: 25px;
	color: #fff;
	z-index: 25;
}

#arrow_down {
	position: fixed;
	top: 92vh;
	z-index: 10;
	width: 45px;
	height: 45px;
	margin-left: 49.7%;
	animation: arrowBounce 14s ease-in-out infinite;
	cursor: pointer;
}

#arrow_down:hover {
	opacity: 0.5;
}


@keyframes arrowBounce {
	0% {
		transform: translateY(0px);
	}

	74% {
		transform: translateY(0px);
	}

	82% {
		transform: translateY(-30px);
	}

	90% {
		transform: translateY(0px);
	}

	95% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(0px);
	}
}